:root {
	--primary-bg:#000;
	--primary-text:#fff;
	--primary-font:'Google Sans', sans-serif;
	--hover-one:#8256FF;
	--hover-two:#00A3FF;
	--hover-three:#7BFF70;

}


body {
	background-color: var(--primary-bg);
}

.h1 {
	background-image: linear-gradient(180deg, #8256FF 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.h2 {
	background: linear-gradient(180deg, #00A3FF 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h3 {
	background: linear-gradient(180deg, #7BFF70 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
	width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 0.3s;
    
}

#b1:hover {
	border-color:var(--hover-one);
}

#b2:hover {
	border-color:var(--hover-two);
}

#b3:hover {
	border-color:var(--hover-three);
}

h1 {
	color: var(--primary-text);
    font-family: var(--primary-font);
    text-align: center;
    font-weight: 700;
    font-size: 144px;
    line-height: 235.73px;
    margin: 0;
    user-select: none;
    transition: 0.3s;
}

a {
	font-weight: bold;
    font-size: 64px;
    color: transparent;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    transition: 0.3s;
}

.carousel-cell {
  width: 29%;
  height: 221px;
  margin-right: 10px;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  transition: 0.3s;
  display: flex;
  text-align: center;
  user-select: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel-cell:hover {
	border-color: #8256FF;
}

.carousel-cell.size-180 { width: 180px; }
.carousel-cell.size-large { width: 75%; }



/* big previous & next buttons */
.flickity-prev-next-button {
	display: none;
}

/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

/* white circles */
.flickity-page-dots .dot {
display: none;
}