:root {
	--primary-bg:#000;
	--primary-text:#ffffff1f;
	--primary-font:'Google Sans', sans-serif;
    --primary-link:#ff00001f;

}


body {
	background-color: var(--primary-bg);
    widows: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    overflow-y: hidden;
}


h1 {
	color: var(--primary-text);
    font-family: var(--primary-font);
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    margin: 0;
    user-select: none;
    transition: 0.3s;

}

a {
    color: var(--primary-link);
}

h1:hover {
    color: #fff;
}

a:hover {
    color: red;
}