:root {
    --primary-text:#fff;
}

body,html {
	margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-weight: bold;
}

body {
    background:url(bg.svg) top / cover;
}

.profile {
	padding: 55px;
	display: inline-flex;
    justify-content: center;
    align-items: center;
}

ul {

    margin-top: 35%;
    padding-right: 50px;
}

img {
	width: 130px;
	height: 130px;
	border-radius: 3000px;
}

#p {
    background: var(--primary-text);
    width: 10px;
    margin-left: 25px;
    margin-right: 25px;
    height: 120px;

}

#name {
	color: var(--primary-text);
    font-family: 'Google sans';
    font-size: 120px;
}

a {
	text-decoration: none;
    color: var(--primary-text);
    font-family: 'Google sans';
    font-size: 140px;
}

li {
	color: var(--primary-text);
    list-style-type: none;
    font-size: 140px;
    text-align: end;
    margin-bottom: 15px;
    
}

.main {
	transform: translate(-50%, -50%);
    margin-right: -50%;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    position: absolute;
}

#close {
    margin-right: -850px;
}