:root {
	--primary-bg: #000;
	--secondry-bg:#fff;
	--link-hover:#8960FF;
}


* {
	margin: 0;
	font-family: 'Google Sans';
}

body {
	background-color: var(--primary-bg);
    display: flex;
    padding: 8%;
    padding-top: 20%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center
}

.container-min {
	background-color: var(--secondry-bg);
}

.soc {
	display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    color: #000;

}
#i_1, #i_2, #i_3, #i_4 { transition: 0.5s; }
#i_1:hover {color: #487fe2;}
#i_2:hover {color: #333d5a;}
#i_3:hover {color: #0095ff;}
#i_4:hover {color: #e65a5a;}


.soc p {
	font-weight: 500;
	font-size: 24px;
}

.links {
	text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    height: max-content;
    padding: 5px;
    border: 3px solid rgba(0, 0, 0, 1);
    transition: 0.5s;
}

.links:hover {
	background-color: var(--link-hover);
	border: 3px solid var(--link-hover);
}



#c_1 {
    display: flex;
    height: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

#c_2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#c_3 {
    display: flex;
    height: 100%;
    width: -webkit-fill-available;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#active {
	background: var(--link-hover);
	border: 3px solid #0000;
	cursor: no-drop;
	color: #000;
}

h1 {
	font-weight: bold;
	font-size: 64px;
	color: var(--primary-bg);
	cursor: default;
}

.center {
	display: grid;
    grid-template-columns: repeat(3,320px);
    grid-template-rows: repeat(1,130px);
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}


@media screen and (max-width: 320px) {
.center {
	display: grid;
    grid-template-columns: repeat(1,350px);
    grid-template-rows: repeat(3,130px);
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

#c_3 {
    display: flex;
    height: 100%;
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

}

@media screen and (max-width: 480px) {
.center {
	display: grid;
    grid-template-columns: repeat(1,320px);
    grid-template-rows: repeat(3,130px);
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

#c_3 {
    display: flex;
    height: 100%;
    width: -webkit-fill-available;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

}

@media screen and (max-width: 768px) {
	.center {
	display: grid;
    grid-template-columns: repeat(1,320px);
    grid-template-rows: repeat(3,130px);
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}
body {
	padding-top: 8%;
}
}

.animate__animated.animate__zoomIn {
  --animate-duration: 0.5s;
}