:root {
    --primary-bg:#000;
    --secondry-bg:#fff;
    --primary-text:#fff;
    --secondry-text:#000;
    --link-acitve:#AF48FF;
    --button-border:#fff;
    --button-text:#fff;
}

html,body {
	font-family: 'Google Sans';
	background-color: var(--primary-bg);
	overflow-x: hidden;
}

.container {
	display: inline-block;
	transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    position: absolute;
}

h1 {
	color: var(--primary-text);
	font-size: 144px;
	font-weight: bold;
	margin: 0;
	text-align: center;
    -webkit-user-select: none; 
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;          
}

a {
	text-decoration: none;
}

.description {
	color: var(--secondry-text);
	background-color: var(--secondry-bg);
	height: 40px;
	font-size: 35px;
	text-align: center;
	border-radius: 10px;
	cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block_s {
	display: inline-flex;
    width: 100%;
    margin-top: 30px;
    border: 4px solid var(--secondry-bg);
	box-sizing: border-box;
	border-radius: 30px;
	height: 129px;
	align-items: center;
	justify-content: space-evenly;
}

.element_m {
	opacity: 0.5;
border: 3px solid var(--button-border);
box-sizing: border-box;
border-radius: 12px;
font-size: 35px;
color: var(--button-text);
width: auto;
height: auto;
transition: 0.3s;
cursor: pointer;
}

.element_m:hover {
	opacity: 1;
}

.element_s {
	border: 3px solid var(--button-border);
	box-sizing: border-box;
	border-radius: 12px;
	width: 81px;
	height: 81px;
	text-align: center;
	opacity: 0.5;
	transition: 0.3s;
}

.element_s:hover {
	opacity: 1;
}

.block_m {
	display: flex;
	border: 4px solid var(--secondry-bg);
    box-sizing: border-box;
    border-radius: 25px;
    width: 100%;
    height: 79px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-evenly;
}

#active {
    cursor: no-drop;
    color: var(--link-acitve);
    border-color: var(--link-acitve);

}

#size {
	width: 44px;
	height: 44px;
	margin-top: 15px;
	color: var(--button-text);

}

.block_m span {
    padding-left: 15px;
    padding-right: 15px;
}

