#granim-one { display: none; }

.stick {
    background-color: #FFFFFF;
}
.icon {
    color: #575757 !important;
}

.dc {
    color: #8F00FF;
    border: 3px solid #8F00FF;
    background-color: transparent;
}

.dc:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(145,0,255,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(145,0,255,1);
    box-shadow: 0px 0px 10px 0px rgba(145,0,255,1);
}

.description {
  color: #8a8a8a;
}

#P1 {
       
}

#P2 {
    
}

#P3 {
    
}

/* Settings */

.between { background: #fff; }


.setting_block { background: #212121; }


#close { color: #fff; }

.s_d { color: #fff; }

#s_icon { color: #fff; }
